{% extends 'padre.html' %}
{% load static %}
{% block titulo %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">About Me</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock titulo %}
{% block contenidoquecambia %}
Mi nombre es Facundo Soria y tengo 25 años. en estos momentos estoy estudiando ingenieria en sistemas de informacion en la Universidad Tecnologica Nacional, pero antes estudie ingenieria industrial y me termine cambiando en el 2021
<br>
Proyecto Final Coder House - Python<br>
Comisión: 54185<br>
Alumno: Facundo Soria<br>
Nombre del Proyecto<br>
Base de Datos de una Universidad<br>

Versión<br>
1.0<br>

Descripción del Proyecto<br>
Página Web destinada a usuarios que deseen crear, buscar y ver cursos, profesores, alumnos y articulos universitarios.<br>
Los usuarios pueden realizar las siguientes accciones:<br>
Crear un perfil de Usuario<br>
Editar el perfil de Usuario<br>
Cambiar la contraseña de Usuario<br>
Cerrar Sesión<br>
Login en caso de haber cerrado sesión<br>

Tecnología Utilizada<br>
Front-End<br>
HTML<br>
CSS<br>
Javascript<br>
Bootstrap<br>
Back-End<br>
Python<br>
Django<br>
{% endblock contenidoquecambia %}
