{% extends 'padre.html' %}
{% load static %}
{% block titulo %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">te has deslogueado</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock titulo %}
{% block contenidoquecambia %}
<a href="{% url 'pagweb:login' %}" class="btn btn-primary mt-3">Iniciar Sesion</a>
<a href="{% url 'pagweb:registro' %}" class="btn btn-primary mt-3">Registrarse</a>
{% endblock contenidoquecambia %}